.position-links{
    display: flex;
    gap: 29px;
}

.name{
    font-size: 25px;
}

.position-header{
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}