.position-links{
    display: flex;
    gap: 29px;
}

.name{
    
    img{
        height: 80px;
        width: auto;
    }
}

.position-header{
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}