<div class="position-footer">
    <div class="footer-img">
        <img src="../../assets/img/logo-marco.png" alt="">
        <p>Impressum</p>
    </div>
    <div class="copy">
        © Marco Thiele 2022
        
    </div>
    <div class="position-footer-icon">
        <div><img src="../../assets/img/github.png" alt=""></div>
        <a href="#contact" ><div><img src="../../assets/img/email.png" alt=""></div></a>
        <div><img src="../../assets/img/linkedin.png" alt=""></div>
    </div>
    <div class="second-impre">
        Impressum 
    </div>
</div>
