.footer-img{
    padding-left: 100px;
    color: white;
    img{
        height: 110px;
        width: auto;
        cursor: pointer;
    }

    p{
        cursor: pointer;
    }
}

.position-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    height: 290px;
    background-color: rgb(20,29,47);
    border-top: 4px solid rgb(0, 190, 232);
}

.position-footer-icon{
    display: flex;
    padding-right: 100px;
    gap: 40px;
    div{
        cursor: pointer;
        transition: transform 100ms ease-out;
        &:hover{
            transform: scale(1.5);
        }
    }
}

.second-impre{
    display: none;
}

.copy{
    color: white;
}

@media (max-width: 700px) {
    .position-footer{
        flex-direction: column;
        justify-content: space-evenly;
    }

    .position-footer-icon{
        padding-right: unset;
    }
    
    .footer-img{
        padding-left: unset;

        p{
            display: none;
        }
    }

    .second-impre{
        display: unset;
        color: white;
        cursor: pointer;
    }
}