<div class="purple-shadow">
    <img src="../../assets/img/Purple shadow.png" alt="">
</div>
<div class="position-contant" id="aboutMe">
    <div>
        <div class="about-me">
            <h1>About me</h1>
            <div>
                Hi, my name is Marco Thiele and I am a junior frontend developer based in Freiberg, Germany. When I was a kid I use to spend every minute on my computer. But growing up in a small village I never even knew that there is the opportunity to become a developer. So it remained a childhood dream.
            </div>
            <div>
                <div class="about-me-icons">
                    <img src="../../assets/img/lamp.png">
                    <p>Long story short, at the end of 2022 I decided that I need a change and took the chance to make my dream come true. I started training as a frontend developer. I realized pretty quickly that I never had a job that brings me so much joy. </p>
                </div>
                <div class="about-me-icons">
                    <img src="../../assets/img/puzzle.png">
                    <p id="skills">After a few months I have already built my own hit and run game, different apps and my own website. During the training I coded alone as well in a team.<br> When I’m not at the computer, you can find me in the gym doing kickboxing and bjj or traveling the world. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="small-profilimg">
        <div>
            <img src="../../assets/img/small-profilimg.png" alt="">
        </div><!--profilimg-->
        
        <div class="position-profil-bar">
            <div class="profil-bar">
    
            </div>
        </div>
    </div>
    

</div>