<div class="purple-shadow">
    <img src="../../assets/img/Purple shadow.png" alt="">
</div>
<div>
    <div>
        <div class="about-me">
            <h1>About me</h1>
            <div>
                Hi, I am a Frontend developer based in Freiberg, Germany(...) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, perferendis rem quaerat aut beatae modi magnam sint dolorem perspiciatis aliquam obcaecati, repellendus, neque praesentium corporis veniam. Laborum suscipit nobis excepturi!
            </div>
            <div>
                <div class="about-me-icons">
                    <img src="../../assets/img/lamp.png">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat minima omnis non asperiores ducimus dolorum minus, quod facilis harum, illo provident sapiente ex maxime doloremque dolorem voluptatum! Esse, ullam! Aliquid?</p>
                </div>
                <div class="about-me-icons">
                    <img src="../../assets/img/puzzle.png">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat minima omnis non asperiores ducimus dolorum minus, quod facilis harum, illo provident sapiente ex maxime doloremque dolorem voluptatum! Esse, ullam! Aliquid?</p>
                </div>
            </div>
        </div>
    </div>
    <div>
<!--profilimg-->
    </div>
    

</div>