<div class="hight-start-screen">
    <div class="background-start-img">
        <img src="../../assets/img/background-start-screen.png" alt="">
    </div>
    <div id="startScreen" class="start-screen">
        <div class="background-start">
            <div class="profil-img-background">
                <img src="../../assets/img/background-image.png" alt="">

            </div>
            <img class="profil-img" src="../../assets/img/profilimg.png" alt="">
            <div class="position-title">
                <div class="position-title-imagine">
                    <div class="position-title-i-am">
                        I am
                    </div>
                    <div>
                        <div class="position-title-name">
                            Marco Thiele
                        </div>
                        <div class="position-title-frontend">
                            Frontend Developer
                        </div>
                    </div>
                </div>

                <a href="#contact"><button>Let's talk</button></a>

            </div>
        </div>
    </div>
    <div class="position-contact-start">
        <div class="position-contact-icons">
            <div class="position-bar">
                <div class="bar">
                </div>
            </div>
            <div class="contact-icons">
                <a href="https://github.com/Marco-Thiele" target="_blank"><img src="../../assets/img/github.png"
                        alt=""></a>
                <a href="#contact"><img src="../../assets/img/email.png" alt=""></a>
                <a href="https://www.linkedin.com/in/marco-thiele-53a97b28b/" target="_blank"><img
                        src="../../assets/img/linkedin.png" alt=""></a>
            </div>
            <div class="email">
                marcothiele1.1@gmx.de
            </div>
        </div>
        <div class="scroll-down">
            Scroll down
            <div class="degree">
                <img src="../../assets/img/arrow.png" alt="">
            </div>
        </div>
    </div>
</div>