<div class="start-screen">
    <div class="background-start">
        <div class="profil-img">
            <img src="../../assets/img/background-image.png" alt="">
        </div>
        <div class="position-title">
            <div class="position-title-imagine">
                <div class="position-title-i-am">
                    I am
                </div>
                <div>
                    <div class="position-title-name">
                        Marco Thiele
                    </div>
                    <div class="position-title-frontend">
                        Frontend Developer
                    </div>
                </div>
            </div>

            <button><a href="#" (click)="scrollToSection('contact')" >Let's talk</a></button>

        </div>
    </div>
</div>
<div class="position-contact-start">
    <div class="position-contact-icons">
        <div class="position-bar">
            <div class="bar">
            </div>
        </div>
        <div class="contact-icons">
            <img src="../../assets/img/github.png" alt="">
            <img src="../../assets/img/email.png" alt="">
            <img src="../../assets/img/linkedin.png" alt="">
        </div>
        <div class="email">
            marcothiele1.1@gmx.de
        </div>
    </div>
    <div class="scroll-down">
        Scroll down 
        <div class="degree">
            <img src="../../assets/img/arrow.png" alt="">
        </div>
    </div>
</div>