.background-start-img{
    position: absolute;
    top: 510px;
    width: 100%;
    img{
        width: 100%;
        height: 400px;
    }
}

.hight-start-screen{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.background-start {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding-right: 250px;
    padding-left: 140px;
    padding-top: 110px;
}


.profil-img-background {
    height: 800px;
    width: 880px;
    max-width: 100%;
    display: flex;
    justify-content: center;

    img {
        height: 700px;
        object-fit: contain;
        
    }
}

.profil-img {
    height: 600px;
    margin-top: -185px;
    margin-left: -700px;
    max-width: 100%;
    object-fit: contain;
}

.position-title {
    display: flex;
    margin-top: -200px;
    align-items: center;
    flex-direction: column;
    z-index: 10;

    button {
        background: rgb(0, 190, 232);
        font-size: 23px;
        padding: 15px 30px 15px 30px;
        color: white;
        border-radius: 10px;
        margin-top: 40px;
        margin-bottom: 30px;
        border: unset;
        cursor: pointer;

        a {
            text-decoration: none;
            color: white;
        }

        &:hover {
            background: rgba(75, 71, 255, 1);
            scale: 1.1;
        }

        &:active {
            background: rgba(255, 255, 255, 1);

            a {
                color: black;
            }

        }
    }
}

.position-title-i-am {
    color: white;
    font-size: 64px;
    transform: rotate(-90deg);
}

.position-title-name {
    color: white;
    font-size: 90px;
    h1{
        font-size: 90px;
        margin: 0;
    } 
}

.position-title-frontend {
    color: rgba(75, 71, 255, 1);
    font-size: 58px;

}

.position-title-imagine {
    display: flex;
    align-items: center;
}

.position-contact-icons {
    display: flex;
    z-index: 5;
}

.position-bar {
    display: flex;
    align-items: center;
    height: 30px;
}

.bar {
    width: 250px;
    height: 4px;
    background-color: rgb(75, 71, 255);
    margin-right: 20px;
}

.contact-icons {
    img {
        margin-left: 20px;
        margin-right: 20px;
        cursor: pointer;
        transition: transform 100ms ease-out;
        &:hover{
            transform: scale(1.5);
        }
    }
}

.email {
    color: white;
    margin-left: 20px;
    font-size: 23px;
}

.position-contact-start {
    display: flex;
    justify-content: space-between;
    margin-top: -30px;
}

.scroll-down {
    color: white;
    display: flex;
    transform: rotate(90deg);
    font-size: 23px;
    max-height: 28px;
    margin-right: 200px;
}

.degree {
    transform: rotate(-90deg);
    display: flex;
}

@media (min-width: 1900px) {
    .background-start-img{
        img{
            height: 600px;
        }  
    }
}

@media (min-width: 2300px) {
    .background-start-img{
        img{
            height: 800px;
        }  
    }
    .profil-img{
        height: 700px;
        margin-left: -750px;
    }

    .profil-img-background{
        img{
            height: 800px;
        }
    }
}

@media (min-width: 2600px) {
    .background-start-img{
        img{
            height: 1000px;
        }  
    }
}

@media (min-width: 3000px) {
    .background-start-img{
        img{
            height: 1200px;
        }  
    }
}

@media (max-width: 1800px) {
    .background-start{
        padding-left: unset;
        padding-right: 100px;
    }

    .bar {
        width: 100px;
    }

    .scroll-down{
        margin-right: 50px;
    }
}

@media (max-width: 1510px) {
    .position-title-i-am {
        font-size: 50px;
    }

    .position-title-name {
        font-size: 64px;
        h1{
            font-size: 64px;
        }
    }

    .position-title-frontend {
        font-size: 43px;
    }
}

@media (max-width: 1330px) {
    .position-title-i-am {
        font-size: 40px;
    }

    .position-title-name {
        font-size: 50px;
        h1{
            font-size: 50px;
        }
    }

    .position-title-frontend {
        font-size: 32px;
    }
}

@media (max-width: 1200px) {
    .profil-img-background {
        img {
            height: 650px;
            margin-left: -250px;
        }
    }

    .profil-img {
        margin-left: -850px;
    }
}

@media (max-width: 1000px) {
    .scroll-down{
        margin-right: 10px;
    }
}

@media (max-width: 1100px) {
    .background-start {
        flex-direction: column;
        padding-right: unset;
    }

    .profil-img {
        margin-left: -30px;
        margin-top: -750px;
    
    }

    .position-title {
        margin-top: 20px;
        padding-bottom: 50px;
        margin-left: -20px;
    }

    .profil-img-background {
        img {
            height: 650px;
            margin-left: unset;
            max-width: 100%;
            margin-top: -100px;
        
        }
    }
    
}

@media (max-width: 770px) {
    .email {
        display: none;
    }

    .scroll-down {
        display: none;
    }
}

@media (max-width: 490px) {
    .position-title-i-am {
        font-size: 28px;
    }

    .position-title-name {
        font-size: 38px;
        h1{
            font-size: 38px;
        }
    }

    .position-title-frontend {
        font-size: 25px;
    }
}

@media (max-width: 360px) {
    .position-title-i-am {
        font-size: 28px;
    }

    .position-title-name {
        font-size: 38px;
    }

    .position-title-frontend {
        font-size: 25px;
    }

    .bar{
        width: 30px;
    }

    .background-start-img{
        top: 500px;
        overflow: hidden;
        img{
            width: unset;
        }
    }
}
