<div  class="position-skill-contant">
    <div class="position-icons">
        <div class="icons" *ngFor="let image of images; let i = index; ">
            <img src="../../assets/img/icons/{{image}}" alt="">
            <div class="icons-name">
                {{imagesName[i]}}
            </div>

        </div>
    </div>
    <div class="my-skills">

        <div class="my-skills-headline">
            <div>
                My skills
            </div>
            <div class="position-line">
                <div class="line">

                </div>
            </div>
        </div>
        
        <div class="description">
            I have grown my frontend developments skills that have allowed me to create different real projects.
        </div>

        <a href="#contact"><button>Get in touch</button></a>

    </div>

</div>

<div class="position-second-button">
    <a href="#contact"><button class="second-button">Get in touch</button></a>
</div>

<div class="green-shadow">
    <img src="../../assets/img/GReen shadow.png" alt="">
</div>