.position-skill-contant {
    display: flex;
    padding-left: 100px;
    margin-top: 150px;
}

.position-icons {
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
    z-index: 10;
}

.icons {
    width: 80px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 100px;
    padding-bottom: 50px;
    img{
        transition: transform 100ms ease-out;

        &:hover{
            transform: translateY(-10px);
        }
    }
}

.icons-name {
    color: white;
    margin-top: 10px;
    text-align: center;
    font-weight: 700;
    cursor: default;
}

.my-skills {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    min-width: 350px;

    button {
        color: white;
        font-size: 23px;
        background: rgba(0, 190, 232, 1);
        padding: 15px 30px 15px 30px;
        border-radius: 10px;
        cursor: pointer;

        a {
            text-decoration: none;
            color: white;
        }

        &:hover {
            background: rgba(75, 71, 255, 1);
            scale: 1.1;
        }

        &:active {
            background: rgba(255, 255, 255, 1);

            a {
                color: black;
            }

        }
    }
}

.position-second-button {
    display: none;
}

.my-skills-position {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-skills-headline {
    font-size: 90px;
    font-weight: 700;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.description {
    text-align: end;
    padding-right: 100px;
}

.position-line{
    width: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.line {
    width: 58px;
    height: 4px;
    background: rgba(75, 71, 255, 1);
}

.green-shadow {
    position: absolute;
    left: 0px;
    z-index: 5;

    img {
        object-fit: contain;
        margin-left: -246px;
        transform: rotate(39deg);
        margin-top: -343px;
        height: 700px;
        width: 900px;
        max-width: 100%;
    }
}

@media (max-width: 1310px) {
    .position-icons{
        max-width: 50%;
    }

    .icons {
        padding-right: 75px;
    }
}

@media (max-width: 1170px) {
    .position-skill-contant {
        flex-direction: column-reverse;
    }

    .my-skills {
        align-items: flex-end;
        min-width: unset;

        button {
            display: none;
        }
    }

    .icons {
        padding: 15px 20px 15px 20px;
    }

    .position-icons {
        max-width: unset;
        padding-right: 100px;
        justify-content: center;
    }

    .position-second-button {
        display: unset;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 60px;

        button {
            color: white;
            font-size: 23px;
            background: rgba(0, 190, 232, 1);
            padding: 15px 30px 15px 30px;
            border-radius: 10px;
            cursor: pointer;
            position: relative;
            z-index: 10;

            a {
                text-decoration: none;
                color: white;
            }

            &:hover {
                background: rgba(75, 71, 255, 1);
                scale: 1.1;
            }

            &:active {
                background: rgba(255, 255, 255, 1);

                a {
                    color: black;
                }

            }
        }
    }

}

@media (max-width: 600px) {
    .position-skill-contant{
        padding-left: 20px;
    }

    .position-icons{
        padding-right: 20px;
    }

    .description{
        padding-right: 30px;
    }

    .position-line{
        width: 30px;
    }

    .line{
        width: 20px;
    }

    
}

@media (max-width: 450px) {
    .my-skills-headline{
        font-size: 60px;
    }

    .green-shadow {
        img {  
            margin-left: -200px;
        }
    }
}

@media (max-width: 330px) {
    .my-skills-headline{
        font-size: 45px;
    }

    .position-icons{
        padding-right: unset;
    }

    .green-shadow {
        img {  
            margin-left: -150px;
            height: auto;
        }
    }
}