<div class="position-skill-contant">
    <div class="position-icons">
        <div class="icons" *ngFor="let image of images; let i = index; ">
            <img src="../../assets/img/icons/{{image}}" alt="">
            <div class="icons-name">
                {{imagesName[i]}}
            </div>

        </div>
    </div>
    <div class="my-skills">

        <div class="my-skills-headline">
            My skills
        </div>
        <div class="description">
            I have grown my frontend developments skills that have allowed me to create different real projects.
        </div>

        <button>Get in touch</button>

    </div>
    <div class="line">

    </div>
</div>

<div class="green-shadow">
    <img src="../../assets/img/GReen shadow.png" alt="">
</div>