<div id="portfolio" class="position-portfolio">
    <h2>Portfolio</h2>
    <p>This page is a sample of my work - please feel free to try them out.</p>
</div>
<div class="line-portfolio">
</div>
<div class="position-contant">
    <div *ngFor="let image of images; let i = index;" class="position-portfolio-contant"
        [ngClass]="{'rotate-content': i % 2 === 1}">
        <div class="img-portfolio">
            <img src="../../assets/img/portfolio/Pollo loco {{image}}.png" alt="">
        </div>
        <div class="portfolio-contant">
            <h3>{{ imagesName[i] }}</h3>
            <div>{{ typs[i] }}</div>
            <p>{{ description[i] }}</p>
            <div>
                <button class="live-test">Live test</button>
                <button class="github" (click)="showGithub(i)">Github</button>
            </div>
        </div>
    </div>
</div>
<div class="blue-shadow">
    <img src="../../assets/img/Vector 5.png" alt="">
</div>